<div class="wrapper-home-sections">
    <section
      class="rh_section rh_section__content rh_section--content_padding"
    >
      <article id="post-7072" class="rh_content">
        <div
          data-elementor-type="wp-post"
          data-elementor-id="7072"
          class="elementor elementor-7072"
        >
          <div class="elementor-inner">
            <div class="elementor-section-wrap">
            
              <!--  Section  Name -->

              <%- include('./components/sectionnames.ejs', { 
                sectionName: "Featured Properties", 
                title: "Checkout", 
                description: "Checkout our featured properties" 
              }) -%>



              <!-- featured Properties -->
              <%- include('./components/cardsection.ejs') -%>

                                <!-- featured Properties -->

             

                                <%- include('./components/featuredslide.ejs') -%>

              <!--  Section  Name -->

              <%- include('./components/sectionnames.ejs', { 
                sectionName: "For Sale", 
                title: "Properties", 
                description: "Checkout our properties for sale" 
              }) -%>
<!--  Properties  For sale -->

              <%- include('./components/cardsection.ejs') -%>
              <!-- Properties  For sale -->

          
             
           
          
            
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-4d2329e5 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                data-id="4d2329e5"
                data-element_type="section"
                data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
              >
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2890d426"
                      data-id="2890d426"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-6df40fbd elementor-widget elementor-widget-spacer"
                            data-id="6df40fbd"
                            data-element_type="widget"
                            data-widget_type="spacer.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-576f89ac elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                data-id="576f89ac"
                data-element_type="section"
                data-settings='{"stretch_section":"section-stretched","shape_divider_top":"tilt","shape_divider_bottom":"tilt"}'
              >
                <div
                  class="elementor-shape elementor-shape-top"
                  data-negative="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1000 100"
                    preserveAspectRatio="none"
                  >
                    <path
                      class="elementor-shape-fill"
                      d="M0,6V0h1000v100L0,6z"
                    />
                  </svg>
                </div>
                <div
                  class="elementor-shape elementor-shape-bottom"
                  data-negative="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1000 100"
                    preserveAspectRatio="none"
                  >
                    <path
                      class="elementor-shape-fill"
                      d="M0,6V0h1000v100L0,6z"
                    />
                  </svg>
                </div>
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-77d3ec2d"
                      data-id="77d3ec2d"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-4da04955 elementor-widget elementor-widget-ere-cta-two-widget"
                            data-id="4da04955"
                            data-element_type="widget"
                            data-widget_type="ere-cta-two-widget.default"
                          >
                            <div class="elementor-widget-container">
                              <section
                                class="rh_elementor_widget rh_section__cta_elementor_two rh_cta--featured_elementor ere_cta_parallax"
                                style="
                                  background-size: cover;
                                  background-image: url(../frontend/wp-content/uploads/2019/07/cta-above-footer.jpg);
                                "
                              >
                                <div class="elementor_overlay_cta_1"></div>
                                <div
                                  class="wrapper-section-contents_elementor"
                                >
                                  <div class="rh_cta__wrap_elementor">
                                    <p class="rh_cta__title">
                                      Looking for More?
                                    </p>

                                    <h3 class="rh_cta__quote">
                                      Talk to our experts or Browse through
                                      more properties.
                                    </h3>

                                    <div class="rh_cta__btns_elementor_two">
                                      <a
                                        href="contact/index.html"
                                        class="cta_two_elementor_first_button cta_two_elementor_button"
                                        >Get In Touch</a
                                      >

                                      <a
                                        href="list-layout/index.html"
                                        class="cta_two_elementor_second_button cta_two_elementor_button"
                                        >Browse More</a
                                      >
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <%- include('./components/sectionnames.ejs', { 
                sectionName: "partners", 
                title: "our", 
                description: "We are honoured to have this amazing partners" 
              }) -%>
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-cb9f233 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="cb9f233"
                data-element_type="section"
                data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
              >
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7b8186"
                      data-id="c7b8186"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-5d88aaa elementor-widget elementor-widget-ere-partners-widget"
                            data-id="5d88aaa"
                            data-element_type="widget"
                            data-widget_type="ere-partners-widget.default"
                          >
                            <div class="elementor-widget-container">
                              <section
                                class="rh_elementor_widget rh_wrapper_partners_elementor"
                              >
                                <div class="rh_section__partners_elementor">
                                  <div
                                    class="rh_partner post-118 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                  >
                                    <a
                                      target="_blank"
                                      href="https://themeforest.net/user/inspirythemes/portfolio"
                                      title="Partner One"
                                    >
                                      <img
                                        width="124"
                                        height="55"
                                        src="../frontend/wp-content/uploads/2017/06/one.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                      />
                                    </a>
                                  </div>
                                  <div
                                    class="rh_partner post-116 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                  >
                                    <a
                                      target="_blank"
                                      href="https://themeforest.net/user/inspirythemes/portfolio"
                                      title="Partner Two"
                                    >
                                      <img
                                        width="254"
                                        height="80"
                                        src="../frontend/wp-content/uploads/2017/06/two.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                        srcset="
                                          https://frontend/wp-content/uploads/2017/06/two.png        254w,
                                          https://frontend/wp-content/uploads/2017/06/two-150x47.png 150w
                                        "
                                        sizes="(max-width: 254px) 100vw, 254px"
                                      />
                                    </a>
                                  </div>
                                  <div
                                    class="rh_partner post-112 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                  >
                                    <a
                                      target="_blank"
                                      href="https://themeforest.net/user/inspirythemes/portfolio"
                                      title="Partner Three"
                                    >
                                      <img
                                        width="136"
                                        height="70"
                                        src="../frontend/wp-content/uploads/2017/06/three.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                      />
                                    </a>
                                  </div>
                                  <div
                                    class="rh_partner post-120 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                  >
                                    <a
                                      target="_blank"
                                      href="https://themeforest.net/user/inspirythemes/portfolio"
                                      title="Partner Four"
                                    >
                                      <img
                                        width="140"
                                        height="69"
                                        src="../frontend/wp-content/uploads/2017/06/four.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                      />
                                    </a>
                                  </div>
                                  <div
                                    class="rh_partner post-124 partners type-partners status-publish has-post-thumbnail hentry rh_blog__post entry-header-margin-fix"
                                  >
                                    <a
                                      target="_blank"
                                      href="https://themeforest.net/user/inspirythemes/portfolio"
                                      title="Partner Five"
                                    >
                                      <img
                                        width="201"
                                        height="82"
                                        src="../frontend/wp-content/uploads/2017/06/five.png"
                                        class="attachment-partners-logo size-partners-logo wp-post-image"
                                        alt=""
                                        decoding="async"
                                        loading="lazy"
                                        srcset="
                                          https://frontend/wp-content/uploads/2017/06/five.png        201w,
                                          https://frontend/wp-content/uploads/2017/06/five-150x61.png 150w
                                        "
                                        sizes="(max-width: 201px) 100vw, 201px"
                                      />
                                    </a>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>