<%- include('./include/head.ejs') -%>

    <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            </h2>
            <!-- CTA -->


            <!-- With avatar -->

            <!-- With actions -->
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                Clients
            </h4>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <table id="clientstable" class="table">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Vehicle Number</th>
                            <th>Mobile Number</th>
                            <th>Vehicle</th>
                            <th>Registration type</th>
                            <th>Rc Renewal</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let doc of docs){ %>
                            <tr>
                                <td>
                                    <%=doc.name%>
                                </td>
                                <td>
                                    <%=doc.vehiclenumber%>
                                </td>
                                <td>
                                    <%=doc.mobile%>
                                </td>
                                <td>
                                    <%=doc.vehicle%>

                                </td>
                                <td>
                                    <%=doc.registrationtype%>

                                </td>

                                <td>
                                    <%=doc.rcexpiry%>

                                </td>

                                <td>
                                    <div class="flex items-center space-x-4 text-sm"><button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Delete" onclick="deleteraw(this.parentNode.parentNode.parentNode)"><svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg></button>
                                        <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z" fill="currentColor"/></svg></button></div>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
                </table>

            </div>
        </div>
    </main>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.4/af-2.5.3/b-2.3.6/date-1.4.0/r-2.4.1/sc-2.1.1/sb-1.4.2/sl-1.6.2/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#clientstable').DataTable({
                ordering: false,

            });
        });

        function deleteraw(x) {
            document.getElementById("clientstable").deleteRow(x.rowIndex);

        }
    </script>
    </body>

    </html>