<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>SafeHomes</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com/">
   <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

   <!-- Icons -->
   <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
   <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome.css" />
   <link rel="stylesheet" href="../assets/vendor/fonts/flag-icons.css" />

   <!-- Core CSS -->
   <link rel="stylesheet" href="../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
   <link rel="stylesheet" href="../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
   <link rel="stylesheet" href="../assets/css/demo.css" />
   
   <!-- Vendors CSS -->
   <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
   <link rel="stylesheet" href="../assets/vendor/libs/typeahead-js/typeahead.css" /> 
   <link rel="stylesheet" href="../assets/vendor/libs/bs-stepper/bs-stepper.css" />
<link rel="stylesheet" href="../assets/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="../assets/vendor/libs/tagify/tagify.css" />
<link rel="stylesheet" href="../assets/vendor/libs/flatpickr/flatpickr.css" />
<link rel="stylesheet" href="../assets/vendor/libs/%40form-validation/umd/styles/index.min.css" />
<link rel="stylesheet" href="../assets/vendor/libs/typeahead-js/typeahead.css" /> 
    <link rel="stylesheet" href="../assets/vendor/libs/quill/typography.css">
<link rel="stylesheet" href="../assets/vendor/libs/quill/katex.css">
<link rel="stylesheet" href="../assets/vendor/libs/quill/editor.css">
<link rel="stylesheet" href="../assets/vendor/libs/dropzone/dropzone.css">

   <!-- Page CSS -->
   <style>
   .dropzone {
    /* Add your dropzone styles here */
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .preview-container {
    /* Add your preview container styles here */
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
  }
  
  .preview-item {
    /* Add your preview item styles here */
    position: relative;
    max-width: 200px;
    max-height: 150px;
    border: 1px solid #ccc;
    overflow: scroll;
  }
  
  .preview-item img,
  .preview-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn-close {
    /* Add your close button styles here */
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
    padding: 5px;
  }
  
  .btn-close:hover {
    color: #f00;
  }
  </style>

   <!-- Helpers -->
   <script src="../assets/vendor/js/helpers.js"></script>
   <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
   <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
   <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
   <script src="../assets/js/config.js"></script>
   
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                          <image src="/assets/img/logo.png" style="float: left;width: 180px;height: 80px;"></image>

              </span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                   
                    <br>
                    <li class="menu-item <%= route=='enquiries'?'active':'' %>">
                                <a href="/enquiries" class="menu-link">
                                   <i class="menu-icon tf-icons bx bx-message"></i> 
                                   <div data-i18n="Enquiries">Enquiries</div>
                                </a>
                    </li>
                   
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Property Management</span>
                    </li>
                            <li class="menu-item <%= route=='properties'?'active':'' %>">
                                <a href="/properties" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-building"></i><div data-i18n="Properties">Properties</div>
                                </a>
                            </li>
                            <li class="menu-item <%= route=='addproperty'?'active':'' %>">
                                <a href="/addproperty" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-building"></i><div data-i18n="Add Property">Add Property</div>
                                </a>
                            </li>
                            <li class="menu-item <%= route=='featured'?'active':'' %>">
                                <a href="/featured" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-archive-out"></i><div data-i18n="Featured Properties">Featured Properties</div>
                                </a>
                            </li>
                         
                            <li class="menu-item <%= route=='category'?'active':'' %>">
                                <a href="/category" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-category"></i><div data-i18n="Categories">Categories</div>
                                </a>
                            </li>
                            <li class="menu-item <%= route=='places'?'active':'' %>">
                                <a href="/places" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-landscape"></i><div data-i18n="Locations">Locations</div>
                                </a>
                            </li>
                    <!-- Components -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Settings</span>
                    </li>
                    <li class="menu-item <%= route=='adminmanagement'?'active':'' %>">
                        <a href="/adminmanagement" class="menu-link">
                           <i class="menu-icon tf-icons bx bx-user"></i> 
                           <div data-i18n="Admin Management">Admin Management</div>
                        </a>
            </li>
                
                    <li class="menu-item">
                        <a href="/logout" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-log-out"></i>
                            <div data-i18n="Logout">Logout</div>
                        </a>
                    </li>

                   
                    <!-- Misc -->

                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <li class="nav-item lh-1 me-3">

                            </li>

                            <!-- User -->
                          
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>